
#stacks_in_2796_page28 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_2793_page28 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_2801_page28 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_2798_page28 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}
