# ======================================================================================
# File         : .gitignore
# Author       : Wu Jie 
# Last Change  : 07/28/2010 | 10:01:42 AM | Wednesday,July
# Description  : 
# ======================================================================================

#/////////////////////////////////////////////////////////////////////////////
# unity files
#/////////////////////////////////////////////////////////////////////////////

Library/cache/
Library/metadata/
Library/ScriptAssemblies/
Temp/

# /////////////////////////////////////////////////////////////////////////////
# exvim files 
# /////////////////////////////////////////////////////////////////////////////

*.err
_log/
*.vimentry
.vimfiles.*/
quick_gen_project_*_autogen.bat
