<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page7</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-02-02T00:57:11Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>D7C3595C-B943-44E3-B2ED-CD2E6E4A5B35</string>
			<key>PageDigests</key>
			<dict>
				<key>assets/test.png</key>
				<dict>
					<key>Digest</key>
					<data>
					og7MjngFL/zs6P/6b5SaqA==
					</data>
					<key>Size</key>
					<integer>3880</integer>
				</dict>
				<key>files/img1.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					iry6/QVLb9Pzkkbpio1Tsw==
					</data>
					<key>Size</key>
					<integer>1877</integer>
				</dict>
				<key>files/img10.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					yeM17Wie3fu1iYReUfL7+g==
					</data>
					<key>Size</key>
					<integer>2107</integer>
				</dict>
				<key>files/img2.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					PINBrn3YJ2t+Q9sAtottOQ==
					</data>
					<key>Size</key>
					<integer>2332</integer>
				</dict>
				<key>files/img3.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					CTe033AAimLz6mYCkxZIBQ==
					</data>
					<key>Size</key>
					<integer>2289</integer>
				</dict>
				<key>files/img4.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					lndYKI0AgCuAC/DcgkE7mA==
					</data>
					<key>Size</key>
					<integer>2222</integer>
				</dict>
				<key>files/img5.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					qSGfN8eUMplLi0ZksCtRyA==
					</data>
					<key>Size</key>
					<integer>2538</integer>
				</dict>
				<key>files/img6.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					a4jeRrOBdWsEu1K3vw8eoQ==
					</data>
					<key>Size</key>
					<integer>1704</integer>
				</dict>
				<key>files/img7.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					VW8h85r+UAjZpr4Mm5bVcg==
					</data>
					<key>Size</key>
					<integer>2252</integer>
				</dict>
				<key>files/img8.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					hqemqF2LPncwUckXqC35wg==
					</data>
					<key>Size</key>
					<integer>1811</integer>
				</dict>
				<key>files/img9.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ZqQjrejU4CCGyqFuVINV1Q==
					</data>
					<key>Size</key>
					<integer>2317</integer>
				</dict>
				<key>files/stacks_page_page7.css</key>
				<dict>
					<key>Digest</key>
					<data>
					WxHw88NXH5w9VXeGv1IRqQ==
					</data>
					<key>Size</key>
					<integer>802</integer>
				</dict>
				<key>files/stacks_page_page7.js</key>
				<dict>
					<key>Digest</key>
					<data>
					4nf49Kcs/AKiir2hdl+8Qg==
					</data>
					<key>Size</key>
					<integer>135</integer>
				</dict>
				<key>page7.html</key>
				<dict>
					<key>Digest</key>
					<data>
					jd06WUZ9BXcnEr7qetvR6Q==
					</data>
					<key>Size</key>
					<integer>10421</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page7</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
