
#stacks_in_1051_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1055_page0 {
	padding: 5px 5px 5px 5px;
}

#stacks_in_1063_page0 .stacks_left {
	float:left;
	width:45%;
}

#stacks_in_1063_page0 .stacks_right {
	float:right;
	width:53%;
}
#stacks_in_1065_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1070_page0 {
	padding: 5px 5px 5px 5px;
}

#stacks_in_1063_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1072_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1057_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1080_page0 .stacks_left {
	float:left;
	width:67%;
}

#stacks_in_1080_page0 .stacks_right {
	float:right;
	width:31%;
}
#stacks_in_1082_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1087_page0 {
	padding: 5px 5px 5px 5px;
}

#stacks_in_1074_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1095_page0 .stacks_left {
	float:left;
	width:67%;
}

#stacks_in_1095_page0 .stacks_right {
	float:right;
	width:31%;
}
#stacks_in_1097_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1102_page0 {
	padding: 5px 5px 5px 5px;
}

#stacks_in_1104_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1108_page0 {
	padding: 5px 5px 5px 5px;
}

#stacks_in_1089_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1116_page0 .stacks_left {
	float:left;
	width:64%;
}

#stacks_in_1116_page0 .stacks_right {
	float:right;
	width:34%;
}
#stacks_in_1118_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1123_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1116_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1125_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1127_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1110_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}
