
#stacks_in_1041_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_3670_page0 {
	padding: 5px 5px 5px 5px;
}

#stacks_in_1051_page0 .stacks_left {
	float:left;
	width:45%;
}

#stacks_in_1051_page0 .stacks_right {
	float:right;
	width:53%;
}
#stacks_in_1053_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1058_page0 {
	padding: 5px 5px 5px 5px;
}

#stacks_in_1051_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1060_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1043_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1068_page0 .stacks_left {
	float:left;
	width:67%;
}

#stacks_in_1068_page0 .stacks_right {
	float:right;
	width:31%;
}
#stacks_in_1070_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1075_page0 {
	padding: 5px 5px 5px 5px;
}

#stacks_in_1062_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1083_page0 .stacks_left {
	float:left;
	width:67%;
}

#stacks_in_1083_page0 .stacks_right {
	float:right;
	width:31%;
}
#stacks_in_1085_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1090_page0 {
	padding: 5px 5px 5px 5px;
}

#stacks_in_1092_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1096_page0 {
	padding: 5px 5px 5px 5px;
}

#stacks_in_1077_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1104_page0 .stacks_left {
	float:left;
	width:64%;
}

#stacks_in_1104_page0 .stacks_right {
	float:right;
	width:34%;
}
#stacks_in_1106_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1111_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1104_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1113_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1115_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_1098_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}
