<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page29</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-02-02T00:57:07Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>D7C3595C-B943-44E3-B2ED-CD2E6E4A5B35</string>
			<key>PageDigests</key>
			<dict>
				<key>assets/test.png</key>
				<dict>
					<key>Digest</key>
					<data>
					og7MjngFL/zs6P/6b5SaqA==
					</data>
					<key>Size</key>
					<integer>3880</integer>
				</dict>
				<key>files/img1.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					iry6/QVLb9Pzkkbpio1Tsw==
					</data>
					<key>Size</key>
					<integer>1877</integer>
				</dict>
				<key>files/img10.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					yeM17Wie3fu1iYReUfL7+g==
					</data>
					<key>Size</key>
					<integer>2107</integer>
				</dict>
				<key>files/img2.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					PINBrn3YJ2t+Q9sAtottOQ==
					</data>
					<key>Size</key>
					<integer>2332</integer>
				</dict>
				<key>files/img3.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					CTe033AAimLz6mYCkxZIBQ==
					</data>
					<key>Size</key>
					<integer>2289</integer>
				</dict>
				<key>files/img4.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					lndYKI0AgCuAC/DcgkE7mA==
					</data>
					<key>Size</key>
					<integer>2222</integer>
				</dict>
				<key>files/img5.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					qSGfN8eUMplLi0ZksCtRyA==
					</data>
					<key>Size</key>
					<integer>2538</integer>
				</dict>
				<key>files/img6.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					a4jeRrOBdWsEu1K3vw8eoQ==
					</data>
					<key>Size</key>
					<integer>1704</integer>
				</dict>
				<key>files/img7.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					VW8h85r+UAjZpr4Mm5bVcg==
					</data>
					<key>Size</key>
					<integer>2252</integer>
				</dict>
				<key>files/img8.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					hqemqF2LPncwUckXqC35wg==
					</data>
					<key>Size</key>
					<integer>1811</integer>
				</dict>
				<key>files/img9.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ZqQjrejU4CCGyqFuVINV1Q==
					</data>
					<key>Size</key>
					<integer>2317</integer>
				</dict>
				<key>files/screen-shot-2010-10-20-at-11.18.50-pm.png</key>
				<dict>
					<key>Digest</key>
					<data>
					PS6VV7z6RpUUWuHWiZ7iuA==
					</data>
					<key>Size</key>
					<integer>18271</integer>
				</dict>
				<key>files/screen-shot-2010-10-20-at-11.19.31-pm.png</key>
				<dict>
					<key>Digest</key>
					<data>
					HF+xMw9zn1Ee+y0Vk0tExA==
					</data>
					<key>Size</key>
					<integer>18256</integer>
				</dict>
				<key>files/screen-shot-2010-10-20-at-11.25.24-pm.png</key>
				<dict>
					<key>Digest</key>
					<data>
					DCKNtQlWU8hri+jqLqU2Ow==
					</data>
					<key>Size</key>
					<integer>20550</integer>
				</dict>
				<key>files/screen-shot-2010-10-20-at-11.27.55-pm.png</key>
				<dict>
					<key>Digest</key>
					<data>
					P9r1ylgkCevOsFF8mqnnww==
					</data>
					<key>Size</key>
					<integer>7926</integer>
				</dict>
				<key>files/screen-shot-2010-10-20-at-11.28.07-pm.png</key>
				<dict>
					<key>Digest</key>
					<data>
					1TCwyYf5RQh3OnZRddSGKw==
					</data>
					<key>Size</key>
					<integer>21588</integer>
				</dict>
				<key>files/screen-shot-2010-10-20-at-11.28.40-pm.png</key>
				<dict>
					<key>Digest</key>
					<data>
					NkCKrfco8ILsBAx2CXmR8Q==
					</data>
					<key>Size</key>
					<integer>70714</integer>
				</dict>
				<key>files/screen-shot-2010-10-20-at-11.28.55-pm.png</key>
				<dict>
					<key>Digest</key>
					<data>
					pbTdZeEjArFRADkKBQAxAA==
					</data>
					<key>Size</key>
					<integer>13067</integer>
				</dict>
				<key>files/screen-shot-2010-10-20-at-11.32.27-pm.png</key>
				<dict>
					<key>Digest</key>
					<data>
					M7QwmxkIYHFZqDnnB23ZqQ==
					</data>
					<key>Size</key>
					<integer>7262</integer>
				</dict>
				<key>files/stacks_page_page29.css</key>
				<dict>
					<key>Digest</key>
					<data>
					ahtsO+6wBYHqvIh6g0A2xQ==
					</data>
					<key>Size</key>
					<integer>162</integer>
				</dict>
				<key>files/stacks_page_page29.js</key>
				<dict>
					<key>Digest</key>
					<data>
					4nf49Kcs/AKiir2hdl+8Qg==
					</data>
					<key>Size</key>
					<integer>135</integer>
				</dict>
				<key>page29.html</key>
				<dict>
					<key>Digest</key>
					<data>
					N+fpVceuZzOlh/UOZl6o+A==
					</data>
					<key>Size</key>
					<integer>15004</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page29</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
