
#stacks_in_666_page7 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_663_page7 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_671_page7 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_668_page7 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}
