
#stacks_in_5577_page7 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_5574_page7 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_5582_page7 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_5579_page7 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}
